@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  @apply cursor-pointer;
}

input {
  @apply rounded-md border border-gray-300 p-2;
  font-family: var(--font-sans);
}

h1 {
  @apply text-2xl font-bold;
}

h2 {
  @apply text-xl font-semibold;
}

@layer utilities {
  .error {
    @apply text-sm text-red-500;
  }
}
